
 @font-face {
  font-family: 'yekan';
  src:        url('./fonts/yekan/Yekan.eot');
  src: local('☺'),
              url('./fonts/yekan/Yekan.woff') format('woff'),
              url('./fonts/yekan/Yekan.ttf') format('truetype'),
              url('./fonts/yekan/Yekan.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }


*{
  font-family:'yekan', 'Tahoma';
  font-size:0.98em ;
}

.rtl{
  direction: rtl!important;
}

